@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-size: cover;
}

main {
  height: max-content;
  width: max-content;
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
}

.Header {
  width: calc(100dvw - 0.75rem - 0.75rem);
  @apply h-12 grow max-w-full m-3 bg-stone-800 bg-opacity-50 fixed top-0 backdrop-blur-md rounded-2xl text-center items-center justify-center flex text-center
}